{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "extends": "airbnb-base/legacy",
  "rules": {
      "no-console": 0,
      "no-return-await": 0,
      "quotes": [0, "single"],
      "comma-dangle": [0, "never"],//对象字面量项尾不能有逗号
      "comma-style": [2, "last"] //逗号风格，换行时在行首还是行尾
  },
  "env": {
      "node": true,
      "es6": true
  }
}
